li.comment
  .left
    .relative-id
      = comment[:relative_id]
  .right
    .code
      = comment_user_code
    .body
      = comment[:body]
    .footer
      span.date
        - if comment[:created_at].instance_of?(ActiveSupport::TimeWithZone)
          = time_ago_in_words(comment[:created_at])
        - else
          = comment[:created_at]
