<div class="left">
  <div class="number">
    {{comment.number}}
  </div>
<div class="right">
  <div class="viewpoint-code">
    {{comment.viewpoint_code}}
  </div>
  <div class="body">
    {{comment.body}}
  </div>
  <div class="footer">
    <span class="date" time-ago="{{comment.created_at}}"></span>
  </div>
</div>
