* {
  @include box-sizing(border-box);
}

html, body {
  min-width: 1000px;
}

body {
  background-color: #f7f8fa;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

textarea {
  @include box-shadow(0 0 1px 0 rgba(0,0,0,0.4) inset);

  border: solid 1px $gray;
}

a, button, input[type='submit'] {
  &.btn {
    background-color: #a63f5a;
    border: solid 1px #c83b5e;
    color: $white;
  }
}

.fake-link {
  color: #1a4882;

  &:hover {
    color: #052246;
    cursor: pointer;
  }
}