#wrapper {
  header {
    @include box-shadow(0 1px 10px 0 rgba(0,0,0,0.4));
    @include linear-gradient(#367d69, #2f5d50);

    border-bottom: 1px solid #16332b;
    height: 70px;
    padding: 0 2%;

    a {
      color: $white;
      text-decoration: none;
    }

    h1, nav {
      line-height: 70px;
    }

    h1 {
      @include span-columns(4);

      margin: 0;
    }

    nav {
      @include omega();
      @include span-columns(8);

      ul {
        margin: 0;
        text-align: right;
      }
    }
  }

  #container {
    @include outer-container;

    #contents {
      #main {
        @include pad;
        @include span-columns(12);
      }
    }
  }
}
