#wrapper {
  header {
    @include box-shadow(0 1px 10px 0 rgba(0,0,0,0.4));
    @include linear-gradient(#367d69, #2f5d50);

    border-bottom: 1px solid #16332b;
    height: 50px;

    .container {
      @include display-box;

      a {
        color: $white;
        text-decoration: none;
      }

      h1, nav li {
        line-height: 50px;
      }

      h1 {
        margin: 0;
        padding-left: 10px;
        width: 150px;
      }

      nav {
        padding-right: 10px;
        width: 850px;

        ul {
          margin: 0;
          text-align: right;

          li {
            display: inline;
            margin-left: 17px;
          }
        }
      }
    }
  }

  .container {
    #contents {
      @include display-box;

      margin-top: 20px;

      body.posts-index & {
        #dashboard {
          width: 400px;
        }

        #main {
          width: 520px;
        }
      }

      body.posts-show & {
        #main {
          margin: 0 auto;
          width: 600px;
        }
      }
    }
  }
}
