#wrapper {
  header {
    @include box-shadow(0 1px 10px 0 rgba(0,0,0,0.4));
    @include linear-gradient(#367d69, #2f5d50);

    border-bottom: 1px solid #16332b;
    height: 50px;
    padding: 0 20px;

    a {
      color: $white;
      text-decoration: none;
    }

    h1, nav {
      line-height: 50px;
    }

    h1 {
      margin: 0;
    }

    nav {
      ul {
        margin: 0;
        text-align: right;
      }
    }
  }

  #container {
    margin: 0 auto;
    width: 920px;

    #contents {
      @include display-box;

      margin-top: 20px;

      body.posts-index & {
        #dashboard {
          width: 400px;
        }

        #main {
          width: 520px;
        }
      }

      body.posts-show & {
        #main {
          margin: 0 auto;
          width: 600px;
        }
      }
    }
  }
}
