#wrapper {
  header {
    background-color: $anoside;
    height: $header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    .container {
      @include display-box;

      a {
        color: $white;
        text-decoration: none;
      }

      h1, nav li {
        line-height: $header-height;
      }

      h1 {
        margin: 0;
        width: 150px;
      }

      nav {
        width: 850px;

        ul {
          margin: 0;
          text-align: right;

          li {
            display: inline;
            margin-left: 17px;
          }
        }
      }
    }
  }

  #contents {
    .container {
      @include display-box;

      padding-top: $header-height;

      body.posts-index & {
        #nav {
          color: #e9eeef;
          height: 100%;
          position: fixed;
          width: 400px;

          h2 {
            color: $anoside-dark;
            font-size: 15px;
          }

          ul {
            @include padding-start(0);

            list-style: none;

            li {
              padding: 10px 0;

              a {
                color: $white-dark;
                text-decoration: none;
              }

              i {
                margin-right: 7px;
              }
            }
          }

          ul.sections {
            border-right: solid 1px $gray-dark;
            height: 100%;
            margin: 0;
            overflow-y: scroll;
            padding-top: 30px;
            width: 300px;

            li.section {
              &.selected {
                i {
                  color: #ff0000;
                }
              }
            }
          }
        }

        #main {
          left: 400px;
          padding-top: 30px;
          position: relative;
          width: 600px;
        }
      }

      body.posts-show & {
        #main {
          margin: 0 auto;
          width: 600px;
        }
      }
    }
  }
}
