@mixin post-block {
  .post {
    border: solid 1px $gray {
      radius: 5px;
    }

    .body, .footer {
      padding: 10px;
    }

    .footer {
      background-color: $gray;
      border: {
        radius: 0 0 3px 3px;
        top: solid 1px $gray;
      }
    }
  }
}

@mixin comments-block {
  ul.comments, form {
    margin-left: 50px;
  }

  ul.comments {
    background-color: #f8fbf8;
    list-style: none;
    padding: 0;

    li.comment {
      @include clearfix;

      border-bottom: solid 1px $gray;
      margin-bottom: 10px;
      padding: 0 0 10px 10px;

      &:last-child {
        border: none;
      }

      .left {
        @include span-columns(1 of 8);

        width: 1%;
      }

      .right {
        @include span-columns(7 of 8);

        width: 95%;

        .body {
          margin-bottom: 10px;
        }
      }
    }
  }

  form {
    textarea {
      height: 40px;
    }

    input[type='submit'] {
      display: none;
    }
  }
}
