@mixin post-block {
  .post {
    border: solid 1px $gray {
      radius: 5px;
    }

    .body {
      padding: 15px 10px;

      p {
        margin-bottom: 0;
      }
    }

    .footer {
      background-color: $gray;
      border: {
        radius: 0 0 3px 3px;
        top: solid 1px $gray;
      }
      padding: 5px 10px;

      .bottom {
        .tags {
          ul {
            display: inline;
            list-style: none;
            margin: 0;

            li {
              display: inline;
              margin-right: 5px;
            }
          }

          .tag-addition-form {
            display: none;
          }
        }
      }
    }
  }
}

@mixin comments-block {
  ul.comments, form.new_comment {
    margin-left: 30px;
  }

  ul.comments {
    background-color: #f8fbf8;
    list-style: none;
    padding: 0;

    li.comment {
      @include clearfix;
      @include display-box;

      border-bottom: solid 1px $gray;
      margin-bottom: 10px;
      padding: 0 0 10px 10px;

      &:last-child {
        border: none;
      }

      .left {
        width: 20px;
      }

      .right {
        width: 470px;

        .body {
          margin-bottom: 10px;
        }
      }
    }
  }

  form.new_comment {
    textarea {
      height: 40px;
    }

    input[type='submit'] {
      display: none;
    }
  }
}
