@mixin margin-before($size) {
  -moz-margin-before: $size;
  -webkit-margin-before: $size;
}

@mixin padding-start($length) {
  -moz-padding-start: $length;
  -webkit-padding-start: $length;
}

@mixin post-block {
  .post {
    background-color: $white;
    border: solid 1px $gray;

    .top {
      padding: 10px;

      .header {
        color: $gray-dark;
        font-size: 10px;
        text-align: right;

        .viewpoint-code {
          margin-right: 10px;
        }
      }

      .body {
        line-height: 20px;
        margin-bottom: 15px;

        p {
          @include margin-before(0);
        }

        &.deleted {
          color: #ff0000;
        }
      }

      .like-dislike {
        font-size: 10px;

        .like, .dislike {
          border: solid 1px $gray;
          padding: 5px;
        }

        .like {
          margin-right: 6px;
        }
      }
    }

    .bottom {
      > .footer {
        background-color: #e6e6e6;
        border: {
          radius: 0 0 3px 3px;
          bottom: solid 1px $gray;
        }
        font-size: 10px;
        padding: 10px;

        i {
          color: $anoside-dark;
          font-size: 12px;
        }

        .tags {
          ul {
            @include padding-start(0);

            display: inline;
            list-style: none;
            margin: 0;

            li {
              display: inline;
              margin-right: 5px;
            }
          }

          form {
            display: none;
          }
        }
      }
    }
  }
}

@mixin comments-block {
  ul.comments, form.new-comment {
    margin-left: 30px;
  }

  ul.comments {
    list-style: none;
    padding: 0;

    li.comment {
      @include clearfix;
      @include display-box;

      border-bottom: solid 1px $gray;
      margin-bottom: 10px;
      padding: 0 0 10px 10px;

      &:last-child {
        border: none;
      }

      .left {
        width: 20px;
      }

      .right {
        width: 470px;

        .body {
          margin-bottom: 10px;
        }
      }
    }
  }

  form.new-comment {
    textarea {
      height: 40px;
    }
  }
}
