.jumbotron
  .container
    h1 Whereabouts of another.
    p Anoside is a microblogging service that enables its users to send posts anonymously.
    p
      = link_to 'Signup', new_user_registration_path, class: 'btn btn-primary btn-lg'
