<div class="top">
  <div class="header">
    <span class="viewpoint-code">{{post.viewpoint_code}}</span>
    <a ng-href="/posts/{{post.id}}">
      <span class="date" time-ago="{{post.created_at}}"></span>
    </a>
  </div>
  <div class="body" resource-body></div>
  <div class="like-dislike" ng-controller="Anoside.LikesCtrl">
    <span class="like" ng-click="toggleLike()" ng-class="{liked: post.liked}">
      <i class="icon-thumbs-up"></i>{{post.likes_count}}
    </span>
    <span class="dislike" ng-click="toggleDislike()" ng-class="{disliked: post.disliked}">
      <i class="icon-thumbs-down"></i>{{post.dislikes_count}}
    </span>
  </div>
  <% if user_signed_in? %>
    <span class="delete" ng-show="post.own">
      <i class="icon-trash fake-link" ng-click="deletePost(post)"></i>
    </span>
  <% end %>
</div>

<div class="bottom">
  <div class="footer">
    <div class="tags" ng-controller="Anoside.TagsCtrl">
      <ul>
        <li ng-repeat="tag in tags">
          {{tag.name}}
        </li>
      <% if user_signed_in? %>
        <span ng-controller="Anoside.TagFormCtrl">
          <span class="tag-addition-button fake-link" ng-click="showForm()">
            <%= t('posts.add_tag_to_posts') %>
          <span ng-show="showed">
            <form>
              <div class="input">
                <input type="text" ng-model="tagList">
              </div>
              <div class="form-actions">
                <button class="btn" ng-click="create()">
                  <%= t('words.save') %>
                </button>
              </div>
            </form>
          </span>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div ng-controller="Anoside.CommentsCtrl">
  <ul class="comments">
    <li class="comment" ng-repeat="comment in comments">
      <%= render 'comments/comment' %>
    </li>
  </ul>

  <% if user_signed_in? %>
    <form class="new-comment" ng-controller="Anoside.CommentFormCtrl">
      <textarea class="form-control" rows="1" ng-model="comment.body" press-enter-key="expand($event)"></textarea>
      <button class="btn" ng-click="create(comment, post.id)"><%= t('words.reply') %></button>
    </form>
  <% end %>
</div>
