<div class="left">
  <div class="relative-id">
    {{relative_id}}
  </div>
</div>
<div class="right">
  <div class="code">
    {{comment_user_code}}
  </div>
  <div class="body">
    {{{simpleFormat body}}}
  </div>
  <div class="footer">
    <span class="date">
      {{timeAgoInWords created_at}}
    </span>
  </div>
</div>
