<div class="post">
  <div class="top">
    <div class="header">
      <span class="viewpoint-code">{{viewpoint_code}}</span>
      <span class="date">{{timeAgoInWords created_at}}</span>
    </div>
    <div class="body">
      {{{simpleFormat body}}}
    </div>
    <div class="like-dislike">
      <span class="like">
        <i class="icon-thumbs-up"></i>10
      </span>
      <span class="dislike">
        <i class="icon-thumbs-down"></i>20
      </span>
    </div>
    {{#ifIsUserSignedIn}}
      <div class="delete">
        <i class="icon-trash fake-link"></i>
      </div>
    {{/ifIsUserSignedIn}}
  </div>
  <div class="bottom">
    <div class="footer">
      <div class="tags">
        <i class="icon-tags"></i>
        <ul>
          <li>
            {{tag.name}}
          </li>
        </ul>
        {{#ifIsUserSignedIn}}
          <span class="tag-addition-button.fake-link">
            Add tag
          </span>
          <form>
            <div class="input">
              <input id="post_tag_list" type="text">
            <div class="form-actions">
              <button class="btn">
                Save
              </button>
            </div>
          </form>
        {{/ifIsUserSignedIn}}
      </div>
    </div>
  </div>
</div>

<ul class="comments"></ul>

<form class="new-comment">
  <textarea class="comment-body"></textarea>
  <button>Reply</button>
</form>
