body {
  padding-top: 70px;

  .navbar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    border: none;
    box-shadow: none;

    a.back {
      color: #ffffff;
      font-size: 16px;
      line-height: 50px;
      margin-left: 13px;
      position: absolute;
    }

    .dropdown {
      line-height: 20px;
      padding: 15px 15px;

      a.dropdown-toggle {
        color: #ffffff;
        text-decoration: none;

        .title {
          font-size: 18px;
        }

        i {
          margin-left: 7px;
        }
      }

      ul.dropdown-menu {
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        left: 50%;
        list-style-type: none;
        margin: 0 0 0 -150px;
        padding: 0;
        text-align: left;
        width: 300px;

        li {
          font-size: 16px;

          a {
            display: block;
            padding: 15px 0 15px 15px;

            i {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .default-title {
      font-size: 18px;
      line-height: 20px;
      padding: 15px 15px;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .error_explanation {
    ul {
      padding-left: 35px;
    }
  }

  footer {
    ul.links {
      margin-bottom: 10px;
      padding-left: 0;
      text-align: center;

      li {
        display: inline;
        margin-left: 13px;
      }
    }
  }
}
