.posts {
  &.posts-index {
    article {
      form {
        .cancel {
          margin-right: 10px;
        }
      }
      .posts {
        @include post;
      }
    }
  }

  &.posts-show {
    article {
      @include post;

      ul.comments {
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        list-style-type: none;

        .header {
          font-size: 12px;

          .number {
            margin-right: 10px;
          }

          .viewpoint-code {
            color: #b7b7b7;
          }
        }

        .body {
          margin: 10px 0;
        }
      }
    }
  }
}