.posts {
  &.not-signed-in {
    &.posts-index {
      article {
        .section-action-links {
          &.bottom {
            padding-top: 10px;
          }

          margin-top: 20px;

          p.sign-in {
            margin-top: 15px;
          }
        }

        .section-feature {
          h4 {
            margin-bottom: 20px;
          }

          img {
            margin-bottom: 10px;
          }

          .action {
            padding-top: 5px;
          }
        }
      }
    }
  }

  &.signed-in {
    &.posts-index {
      article {
        form {
          .body-count {
            color: #b7b7b7;

            &.count-over {
              color: #ff0000;
            }
          }

          .cancel {
            margin-right: 10px;
          }
        }

        hr.separate {
          margin-bottom: 10px;
        }

        .posts {
          @include post;
        }
      }
    }

    &.posts-show {
      article {
        @include post;

        ul.comments {
          -moz-padding-start: 0;
          -webkit-padding-start: 0;
          list-style-type: none;

          .header {
            font-size: 12px;

            .number {
              margin-right: 10px;
            }
          }

          .body {
            margin: 10px 0;
          }

          .footer {
            font-size: 12px;

            .viewpoint-code {
              color: #b7b7b7;
              line-height: 30px;
            }

            .container {
              @include resource-actions-list;
            }
          }
        }

        form {
          .body-count {
            color: #b7b7b7;

            &.count-over {
              color: #ff0000;
            }
          }
        }
      }
    }
  }
}
