.posts {
  &.not-signed-in {
    &.posts-index {
      article {
        .section-action-links {
          margin-top: 20px;
        }

        .section-popular-posts, .section-action-links.bottom {
          h2 {
            color: #616161;
            margin-bottom: 20px;
          }
        }

        .section-popular-posts {
          .posts {
            @include post;
          }
        }

        .section-action-links.bottom {
          h2 {
            margin-top: 0;
          }

          .excuse {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &.signed-in {
    &.posts-index {
      article {
        form {
          .body-count {
            color: #b7b7b7;

            &.count-over {
              color: #ff0000;
            }
          }

          .cancel {
            margin-right: 10px;
          }
        }

        hr.separate {
          margin-bottom: 10px;
        }

        .posts {
          @include post;
        }
      }
    }
  }

  &.posts-show {
    article {
      @include post;

      ul.comments {
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        list-style-type: none;

        .header {
          font-size: 12px;

          .number {
            margin-right: 10px;
          }
        }

        .body {
          margin: 10px 0;
        }

        .footer {
          font-size: 12px;

          .viewpoint-code {
            color: #b7b7b7;
            line-height: 30px;
          }

          .container {
            @include resource-actions-list;
          }
        }
      }

      form {
        .body-count {
          color: #b7b7b7;

          &.count-over {
            color: #ff0000;
          }
        }
      }
    }
  }
}
