.posts-index {
  form.new-post {
    margin-bottom: 50px;

    .input {
      margin-bottom: 5px;

      textarea {
        height: 70px;
        width: 100%;
      }
    }

    .form-actions {
      text-align: right;
    }
  }

  ul.posts {
    clear: both;
    list-style: none;

    > li {
      @include comments-block;
      @include post-block;

      padding: 10px 0;
    }
  }
}

.posts-show {
  #main {
    @include comments-block;
    @include post-block;
  }
}
