.posts {
  &.posts-index {
    article {
      form {
        .body-count {
          color: #b7b7b7;

          &.count-over {
            color: #ff0000;
          }
        }

        .cancel {
          margin-right: 10px;
        }
      }

      hr.separate {
        margin-bottom: 10px;
      }

      .posts {
        @include post;
      }
    }
  }

  &.posts-show {
    article {
      @include post;

      ul.comments {
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        list-style-type: none;

        .header {
          font-size: 12px;

          .number {
            margin-right: 10px;
          }

          .viewpoint-code {
            color: #b7b7b7;
          }
        }

        .body {
          margin: 10px 0;
        }
      }

      form {
        .body-count {
          color: #b7b7b7;

          &.count-over {
            color: #ff0000;
          }
        }
      }
    }
  }
}
