meta property='og:title' content="#{page_title(page_title_symbol: :site_page_title, separator: ' | ')}"
meta property='og:type' content='website'
meta property='og:url' content='http://anoside.com'
meta property='og:description' content="#{t('og.description')}"
meta property='og:site_name' content="#{page_title(page_title_symbol: :site_page_title, separator: ' | ')}"
meta property='og:image' content='/images/og_image.png'
meta property='og:app_id' content='246349558865828'
meta property='og:locale' content='ja_JP'
